<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace:可以理解成实现了的全路径（包名+类名）-->
<mapper namespace="com.liyan.mapper.LogMapper">
    <select id="findAll" resultType="Log">
        select * from log
    </select>

    <select id="findAcc" resultType="Log">
        select * from log where accout=#{accout} and accin=#{accin}
    </select>

    <select id="findAccoutAccin" resultType="Log">
        select * from log where 1=1
        <!--ognl表达式，直接写key或对象的属性,不需要添加任何特殊符号-->
        <if test="accout !=null and accout != ''">
            and accout=#{accout}
        </if>
        <if test="accin != null and accin != ''">
            and accin=#{accin}
        </if>
    </select>

    <select id="findAccAcc" resultType="Log">
        select * from log
        <where>
            <if test="accout !=null and accout != ''">
                and accout=#{accout}
            </if>
            <if test="accin != null and accin != ''">
                and accin=#{accin}
            </if>
        </where>
    </select>

    <select id="findwhen" resultType="Log">
        select * from log
        <where>
            <choose>
                <when test="accout !=null and accout != ''">
                    and accout=#{accout}
                </when>
                <when test="accin != null and accin != ''">
                    and accin=#{accin}
                </when>
            </choose>
        </where>
    </select>

    <update id="update" parameterType="Log">
        update log
            <set>
                <if test="accOut != null and accOut != ''">
                    accout=#{accOut},
                </if>
                <if test="accIn != null and accIn != ''">
                    accin=#{accIn}
                </if>
            </set>
        where id=#{id}
    </update>

    <select id="findtrim" resultType="Log" parameterType="Log">
        select * from log
        <trim prefix="where" prefixOverrides="and">
            and accout=#{accOut}
        </trim>
    </select>
    <update id="updatetrim" parameterType="Log">
        update log
            <trim prefix="set" suffixOverrides=",">
                <if test="accOut != null and accOut != ''">
                    accout=#{accOut},
                </if>
                <if test="accIn != null and accIn != ''">
                    accin=#{accIn},
                </if>
            </trim>
        where id=#{id}
    </update>

    <select id="findbind" resultType="Log" parameterType="Log">
        <bind name="money" value="'$'+money"/>
        <bind name="accin" value="'%'+accin+'%'"/>
    </select>

    <select id="findIn" parameterType="list" resultType="Log">
      select * from log where id in
      <foreach collection="list" item="abc" open="(" close=")" separator=",">
          #{abc}
      </foreach>
    </select>

    <sql id="mysql">
        id,accout,accin,money
    </sql>
    <select id="findinclude" parameterType="log" resultType="Log">
        select
        <include refid="mysql"></include>
        from log
    </select>

</mapper>